# Clean and Merge Donation and Project Opendata

In [1]:
import pandas as pd

### Clean the donations file

In [16]:
#read donations file with donor info
donations = pd.read_csv('opendata/opendata_donations000', sep=',', dtype={'donor_zip': object}, 
                                        names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 'donation_to_project', 'donation_optional_support', 'donation_total', 'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 'payment_was_promo_matched', 'is_teacher_referred', 'giving_page_id', 'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])

In [17]:
donations.head()

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
0,0000023f507999464aa2b78875b7e5d6,69bf3a609bb4673818e0eebd004ea504,22c50856b0824db76daf527da6af9abf,39e6f19c1b8e7652bf6d1a2c7c7b8819,NaN,NaN,NaN,f,2011-02-13 11:07:19.349,8.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
1,000009891526c0ade7180f8423792063,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,2b188e02e8886c1bb2708bc56f6a3d2f,NaN,NJ,070,t,2013-05-26 11:28:31.30,63.75,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
2,00000ce845c00cbf0686c992fc369df4,7be7184572a67468a2ef4402e7de6c99,01e2385f52c03386ee345c517be8f84e,NaN,NaN,NY,NaN,f,2011-12-09 18:36:26.79,21.25,...,promo_code_match,f,f,f,f,f,NaN,NaN,f,f
3,00000f7264c27ba6fea0c837ed6aa0aa,d02682271afef978f1dd161513672759,d74f5b847da546427a7de5bc96ab36a6,NaN,NaN,NaN,069,f,2009-10-23 10:57:21.405,20.50,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,f
4,0000174d1d38072889d47e51b587a10c,fbef21e4fdf303eebe6c48b99ef9de8f,f495e99822acc50e934a57943400bcfe,db07e0db53dfa402c4a2aa02d46583d4,San Francisco,CA,941,f,2011-12-15 01:07:26.085,1817.36,...,no_cash_received,t,f,f,f,f,bc2447eefe6e019b6d3096217ef89feb,campaign,f,f

In [25]:
donations.size

142874988

In [29]:
donations_cleaned=donations[['donation_timestamp', '_donationid', '_projectid', '_donor_acctid', 'donor_city', 'donor_state', 'donor_zip', 'donation_total']]

In [32]:
#drop any donor without zip info
donations_cleaned=donations_cleaned.dropna(subset=['donor_zip'])

### Clean the Project file

In [70]:
#projects file with project info
projects = pd.read_csv('openData/opendata_projects000', sep=',', dtype={'school_zip': object},
                       names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 
                                                                          'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])

In [71]:
projects.head()

,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration
0,7342bd01a2a7725ce033a179d22e382d,5c43ef5eac0f5857c266baa1ccfa3d3f,9e72d6f2f1e9367b578b6479aa5852b7,3.600097e+11,40.688454,-73.910432,New York City,NY,11207,urban,...,0.0,251.9,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-27 00:00:00,2003-12-31 00:00:00
1,ed87d61cef7fda668ae70be7e0c6cebf,1f4493b3d3fe4a611f3f4d21a249376a,1ae4695be589a36816188e2b301a0395,3.600077e+11,40.765517,-73.960090,New York City,NY,10065,NaN,...,0.0,137.0,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-03 00:00:00,2003-12-31 00:00:00
2,b56b502d25666e29550d107bf7e17910,57426949b47700ccf62098e1e9b0220c,4a06a328dd87bd29892d73310052f45f,3.600077e+11,40.770233,-73.950760,New York City,NY,10075,NaN,...,0.0,125.0,1,f,f,completed,2002-09-16 00:00:00,2002-09-19 00:00:00,2002-12-19 00:00:00,2003-12-31 00:00:00
3,016f03312995d5c89d6b348be4682166,9c0aa56b63b743454d6da9effcf122fc,bb0af5dac1b54693ba86ef63eacd6594,3.600076e+11,40.727826,-73.978721,New York City,NY,10009,urban,...,0.0,205.0,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2002-12-02 00:00:00,2003-12-31 00:00:00
4,cf6275558534ca1b276b0d8d5130dd9a,1d4d8a42730dbb66af1ebb6ab37456b7,768dab263f87881fe7c68ffb3965df7c,3.600083e+11,40.841216,-73.938605,New York City,NY,10032,urban,...,0.0,264.0,1,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-02-26 00:00:00,2003-12-31 00:00:00

In [74]:
#eliminte project columns
projects_cleaned=projects[["_projectid", "_schoolid", "school_latitude", 
                           "school_longitude", "school_zip", "school_city", "total_donations", "num_donors"]]

In [75]:
#drop any school without zip info
projects_cleaned=projects_cleaned.dropna(subset=['school_zip'])

In [76]:
projects_cleaned.head()

,_projectid,_schoolid,school_latitude,school_longitude,school_zip,school_city,total_donations,num_donors
0,7342bd01a2a7725ce033a179d22e382d,9e72d6f2f1e9367b578b6479aa5852b7,40.688454,-73.910432,11207,New York City,251.9,1
1,ed87d61cef7fda668ae70be7e0c6cebf,1ae4695be589a36816188e2b301a0395,40.765517,-73.960090,10065,New York City,137.0,1
2,b56b502d25666e29550d107bf7e17910,4a06a328dd87bd29892d73310052f45f,40.770233,-73.950760,10075,New York City,125.0,1
3,016f03312995d5c89d6b348be4682166,bb0af5dac1b54693ba86ef63eacd6594,40.727826,-73.978721,10009,New York City,205.0,1
4,cf6275558534ca1b276b0d8d5130dd9a,768dab263f87881fe7c68ffb3965df7c,40.841216,-73.938605,10032,New York City,264.0,1

### Merge donation with projects

In [77]:
donor_charity_combined=donations_cleaned.merge(projects_cleaned, left_on="_projectid", right_on="_projectid", how="left")

### Verify if merged correctly

In [78]:
donor_charity_combined[donor_charity_combined._projectid=="26f02742185eb1f73f3bc5be4655fae2"]

,donation_timestamp,_donationid,_projectid,_donor_acctid,donor_city,donor_state,donor_zip,donation_total,_schoolid,school_latitude,school_longitude,school_zip,school_city,total_donations,num_donors
0,2013-05-26 11:28:31.30,000009891526c0ade7180f8423792063,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,070,75.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4.0
1168433,2013-05-26 11:33:48.77,4b51c4bd4f52f9394b7e3de39afcf91a,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,070,5.96,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4.0
2596830,2013-05-18 10:36:26.344,a761af8f87f9e23ebc97c8818ae9e2f1,26f02742185eb1f73f3bc5be4655fae2,5551a5dab1369830dcc872c8e295009a,Bloomfield,NJ,070,25.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4.0
3018151,2013-05-26 11:30:54.179,c297be1ef8b0d4d40de19e48c5ebd470,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,070,30.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4.0
3536625,2013-05-09 11:12:19.56,e3f55b1f6928fccddcd23e31bff21c51,26f02742185eb1f73f3bc5be4655fae2,8596c83aff287f64ca5ab00cfa79fab8,NaN,,100,50.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4.0
3702813,2013-05-09 11:12:19.111,eea948ba282a6cb815b8cac9631c8395,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,070,50.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4.0

In [79]:
donations[donations._projectid=="26f02742185eb1f73f3bc5be4655fae2"]

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
1,000009891526c0ade7180f8423792063,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,2b188e02e8886c1bb2708bc56f6a3d2f,NaN,NJ,070,t,2013-05-26 11:28:31.30,63.75,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
1827911,4b51c4bd4f52f9394b7e3de39afcf91a,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,7fcece2de9bdc03b7aa5282d54bd283f,NaN,NJ,070,t,2013-05-26 11:33:48.77,5.07,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
1931755,4f9c9bb382a1f463b9721b574167c872,26f02742185eb1f73f3bc5be4655fae2,de318e00ba338c05cdf749f69ae49d2c,NaN,NaN,,NaN,f,2013-05-26 11:30:54.273,21.25,...,promo_code_match,f,f,f,f,f,NaN,NaN,f,f
3472201,8f185fbfa56bb1202744db8662b50082,26f02742185eb1f73f3bc5be4655fae2,de318e00ba338c05cdf749f69ae49d2c,NaN,NaN,,NaN,f,2013-05-26 11:28:31.73,63.75,...,promo_code_match,f,f,f,f,f,NaN,NaN,f,f
4061712,a761af8f87f9e23ebc97c8818ae9e2f1,26f02742185eb1f73f3bc5be4655fae2,5551a5dab1369830dcc872c8e295009a,d10712661eb73285869ca236203ddbda,Bloomfield,NJ,070,t,2013-05-18 10:36:26.344,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
4721212,c297be1ef8b0d4d40de19e48c5ebd470,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,f7ddb4771f790b9435f6229e3d776fcc,NaN,NJ,070,t,2013-05-26 11:30:54.179,25.50,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
5531191,e3f55b1f6928fccddcd23e31bff21c51,26f02742185eb1f73f3bc5be4655fae2,8596c83aff287f64ca5ab00cfa79fab8,NaN,NaN,,100,f,2013-05-09 11:12:19.56,42.50,...,promo_code_match,f,f,f,f,f,NaN,NaN,f,f
5791347,eea948ba282a6cb815b8cac9631c8395,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,b05425d3ca4f9b17293469f7820f4a3d,NaN,NJ,070,t,2013-05-09 11:12:19.111,42.50,...,creditcard,f,f,f,t,f,NaN,NaN,f,f

In [82]:
projects_cleaned[projects_cleaned._projectid=='26f02742185eb1f73f3bc5be4655fae2']

,_projectid,_schoolid,school_latitude,school_longitude,school_zip,school_city,total_donations,num_donors
499570,26f02742185eb1f73f3bc5be4655fae2,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,-74.201173,07043,Montclair,335.96,4

### Label lastday and givingtuesday and trim down from 2007-2017

In [91]:
donor_charity_combined['date_stamp']=donor_charity_combined.donation_timestamp.apply(lambda x: x.split(' ')[0])

In [164]:
donor_charity_combined['year']=donor_charity_combined.date_stamp.apply(lambda x: int(x.split('-')[0]))
donor_charity_combined['month']=donor_charity_combined.date_stamp.apply(lambda x: int(x.split('-')[1]))
donor_charity_combined['day']=donor_charity_combined.date_stamp.apply(lambda x: int(x.split('-')[2]))

In [165]:
donor_charity_combined=donor_charity_combined[donor_charity_combined.year>2006]

In [171]:
"""
Define a lambda function f that return 1 if the date is within the set of giving tuesday else 0.
"""

def f(x):
    return 1 if x in ['2006-11-28', '2007-11-27', '2008-12-02', '2009-12-11', 
                         '2010-11-30', '2011-11-29', '2012-11-27', '2013-12-03', 
                         '2014-12-02', '2015-12-01', '2016-11-29'] else 0

f('2012-11-27')

1

In [270]:
"""
Define a lastday function that return 1 if the date is the last day of the zero.
"""

def lastday(x):
    return 1 if x in ['2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31', 
                         '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31', 
                         '2014-12-31', '2015-12-31', '2016-12-31'] else 0

lastday('2012-12-31')

1

In [172]:
donor_charity_combined['GivingTuesday']=donor_charity_combined.date_stamp.apply(f)
donor_charity_combined['LastDay']=donor_charity_combined.date_stamp.apply(lastday)

/Users/R/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [177]:
donor_charity_combined[donor_charity_combined.date_stamp=='2010-11-30']

,donation_timestamp,_donationid,_projectid,_donor_acctid,donor_city,donor_state,donor_zip,donation_total,_schoolid,school_latitude,...,school_zip,school_city,total_donations,num_donors,date_stamp,year,month,day,LastDay,GivingTuesday
3828,2010-11-30 17:53:45.794,003ff814108d369348dca3bfba799052,71a10192c7ac4b37f1aa44eb1aa7aaef,5d520efdecfe2ed53dccde747a1ac438,West Berlin,NJ,080,340.80,d564701de318d86774816540a4b5b16b,40.812908,...,10027,New York City,437.80,2.0,2010-11-30,2010,11,30,0,1
12373,2010-11-30 21:42:15.263,00ce112c7450b81bc1b9c1874464fea6,f94a42b6c5855a07aab8c1cac533c57b,b962345a2c667d73cffd431922a71821,Chicago,IL,606,50.00,c5b810b0e0df4621f4391703e5b1dc74,41.877188,...,60612,Chicago,399.07,3.0,2010-11-30,2010,11,30,0,1
12891,2010-11-30 14:30:02.985,00d6d67259dc928f40aff62fbe526874,1c8aacbc048b5ec7820c0973562b68e1,640f7533d1aec60408db48497b4900d5,Philadelphia,PA,191,5.00,85177d1647d4ce9e1730770e1fd6b3b4,39.303485,...,21213,Baltimore,506.91,13.0,2010-11-30,2010,11,30,0,1
13284,2010-11-30 11:44:55.712,00dda221f4b1ef1b11aa98ad31bef0e1,0e9ef280ea7decd67f0e2582ed59fd4e,4d4b3ad0e9985aa2f409e40f60b732fe,Andover,MA,018,96.03,009c64a3522f21e0c13a80166720954f,42.411843,...,02151,Revere,271.03,6.0,2010-11-30,2010,11,30,0,1
14137,2010-11-30 00:24:41.691,00ebd6e0f82ebd763b703fa150403dc9,b98121b688a30d897e050eaaf583c35d,27aa1db4987303a4fb570374ae0d7ac2,Palo Alto,CA,943,100.00,0d184be58f91266abb285e634462cceb,33.896732,...,92886,Yorba Linda,554.61,3.0,2010-11-30,2010,11,30,0,1
16065,2010-11-30 21:22:09.871,010b44eb4ffbe308bc2cb3508a9c8f77,468962c3d0d20123cda1a6c69a7af3a0,1a80956b76ca9998656c2bf924c3e3e7,Alameda,CA,945,25.00,881595e150c391180f95032ac4bc2808,37.778707,...,94501,Alameda,1040.75,14.0,2010-11-30,2010,11,30,0,1
17086,2010-11-30 21:01:13.42,011bc662beebf27e9e822848fe42e5a0,6e82ee2881cc26986e4fc91e9b3f6ff6,41f6230defafed678dc48ec11e264338,Roanoke,VA,240,100.00,09e8f9b247b431c21f1e97351aae01f7,39.365734,...,21214,Baltimore,955.12,42.0,2010-11-30,2010,11,30,0,1
18417,2010-11-30 16:57:04.485,01319269d67a6339e55079032768899c,11e73f83b13245068478ef19acfb3401,5278fc1cc33e7b9f1112f6322506f759,San Francisco,CA,941,265.66,f21971bdece8e035d669f4de4a66ebed,36.112347,...,89147,Las Vegas,531.33,3.0,2010-11-30,2010,11,30,0,1
22632,2010-11-30 14:25:57.403,01785240b6f119b6c5bb586305ac2579,a1b76a6a0d765be100107f4e00f9afb5,25c1aaca3a289f87db9a86470660fc37,Summit,IL,605,30.00,f8a6803e2e94f319614d3376cd264e4d,41.784926,...,60621,Chicago,194.50,4.0,2010-11-30,2010,11,30,0,1
25153,2010-11-30 12:35:53.935,01a2e75d7b09b991a5f8bba89216ac05,2411f05af260bc5d1df554c6611170fe,5278fc1cc33e7b9f1112f6322506f759,San Francisco,CA,941,286.69,e194650ba383d4b83994889af7eb3060,36.176514,...,89101,Las Vegas,573.39,13.0,2010-11-30,2010,11,30,0,1
31154,2010-11-30 11:34:44.318,02069c0401b7a038887520e985e71dc0,e969e9c773d80a792f41ab33efb0d63c,486ae02aa0320b0b208612eaf3a390bc,Berwyn,IL,604,50.00,40d5721bf95d1e6bb799f78130565e61,41.835668,...,60402,Berwyn,601.15,5.0,2010-11-30,2010,11,30,0,1
39209,2010-11-30 19:24:16.436,028a6e7b1fa35adbe1a611af7a9187db,ce2c20de8a8306c6261b04e815520fbe,14805e391be26df3809fa098ce0569d9,Parkville,MD,212,38.02,cf0230fe156ef0bd89a6e63892b20a63,41.894136,...,60624,Chicago,824.99,27.0,2010-11-30,2010,11,30,0,1
53470,2010-11-30 12:35:53.913,037731e64d9dbe108a79995111a8e49b,2411f05af260bc5d1df554c6611170fe,5dccf6903cb68587eb674236bbc61dc0,Carson City,NV,897,80.70,e194650ba383d4b83994889af7eb3060,36.176514,...,89101,Las Vegas,573.39,13.0,2010-11-30,2010,11,30,0,1
61199,2010-11-30 16:20:31.597,03f7eec1b289804d513a4aa899eb01bd,35179ddb4806ff64e31e859fdfce54b9,5694efa374edc0a3e4d184cf1ac4c5c1,Houston,TX,770,100.00,1be567cf3c68299542550d92fe771cfe,40.672571,...,11213,New York City,421.64,9.0,2010-11-30,2010,11,30,0,1
62499,2010-11-30 19:55:37.26,040cc66e2232e4fa46e3b6ab4b46ecd1,8da63e4042f4d8e1f23fd0da217bf351,2ca0248a5bebde6e65c0170048e00290,Eugene,OR,974,10.00,9a3c67a55d9b4d98e4ceb26d5aa50c3d,33.727512,...,38771,Ruleville,536.85,18.0,2010-11-30,2010,11,30,0,1
62726,2010-11-30 22:08:52.653,04107d4814aaefeb8f0650149518de97,be6cc92bc4b049538bf54cd06eca16a7,cc5afa591c55f3946e9236a1e2b4ca35,Alexandria,VA,223,15.00,31663dc83a98e932157aaa51a92ed499,38.920317,...,20001,NaN,289.19,15.0,2010-11-30,2010,11,30,0,1
81133,2010-11-30 07:16:34.171,054224de0684b0624e9a0cc075f18c2b,689a315ce53ff1cf9bd9e3b61de99bfe,419b64043c66aa43ca475b8aca1c70f2,San Francisco,CA,941,233.54,ba3078c211d21316e96e6e6e11846ac2,35.254625,...,74873,Tecumseh,2031.47,36.0,2010-11-30,2010,11,30,0,1
86730,2010-11-30 12:40:28.766,059f7f856ae3ff5edeb87cdf98517842,8726fd018e0761d550a730c18ba0919d,5c8b7afc8e6c648778bef7dda8f01ef4,Portland,OR,972,15.00,07f955e583a6cb27a623b8fa6ef2dc59,39.282203,...,21231,Baltimore,451.01,16.0,2010-11-30,2010,11,30,0,1
87454,2010-11-30 11:15:40.124,05ab944e8d05158c99253353912a81c9,9d93cdb9986a3e27175be5d29cde04e2,08cfd53e06428158c2712c293b9659c9,Hoopeston,IL,609,50.00,fd5c12c12acf99e094783c0f39651d4b,40.463704,...,60942,Hoopeston,772.34,21.0,2010-11-30,2010,11,30,0,1
91155,2010-11-30 21:21:18.491,05e8b1362feb118a386dfd282b20fb84,394a17fb405e1a9d93153c15cd7a277b,c4e5799d0b128d7f0d3672ad9581d08e,Mt Pleasant,SC,294,183.01,7d23b9c47d4b01c33e59617d6cc2221c,33.032644,...,29483,Summerville,183.01,1.0,2010-11-30,2010,11,30,0,1
92148,2010-11-30 14:19:21.739,05f920a084179f64200753021555fef5,562b84e33573d7472012847d0d766024,7323382b6d877b2e6c10dd50285786c3,New York,NY,100,166.76,03fce79ede6bf1789be29c2fac1e9606,40.819289,...,10456,New York City,619.76,11.0,2010-11-30,2010,11,30,0,1
93520,2010-11-30 19:17:18.448,06100fbaaaff8c0486029792af02d5b3,58dc8aca312aae732c627f64d6e76288,b1a9e61f93f6632c3036c46af3d14a47,Staten Island,NY,103,93.02,43aca680e574b802194fd10139332cc9,43.029510,...,48506,Flint,394.38,6.0,2010-11-30,2010,11,30,0,1
97912,2010-11-30 13:31:02.208,0658455257518772d05a6f321ffe5a27,8a0fca2ea2ed34ceb499ef97c63028bf,7eeeaf7a26358c180893a03fa507a3a7,NaN,MI,481,25.00,eabace499c3c22753e9ebcf03118ef18,39.310806,...,21216,Baltimore,601.61,17.0,2010-11-30,2010,11,30,0,1
99615,2010-11-30 09:02:04.418,06750d05ec1b1be55da2aa114698e34d,0fb027004917ec914544178e16a3c1a1,ea2640b4569320268ae0dde7425bddc9,Hightstown,NJ,085,50.00,3a18543b9129d4afa98d70baadd3bf7a,41.769578,...,60629,Chicago,726.39,12.0,2010-11-30,2010,11,30,0,1
100195,2010-11-30 23:49:09.474,067efc9fc694d53f281dcecd96b6b127,7c1aff85d615f88628152c6c5647d367,c3e1e1be43ba89920b4a961c5e657b76,Anonymous,NaN,000,31.00,6ec263e9ef22d76c9566efeb8a5618bd,35.645908,...,87505,Santa Fe,253.25,4.0,2010-11-30,2010,11,30,0,1
102878,2010-11-30 10:14:47.233,06a91a9c40895ea35f17b553b0ec6649,f00689e81aaa19e222b75f22ff7368ef,6d1a00a6a14a3e8314c28b0b2f48df73,New York,NY,100,150.00,f87212197c60650e030df23019509f30,40.751441,...,11101,New York City,953.47,19.0,2010-11-30,2010,11,30,0,1
103519,2010-11-30 11:32:59.448,06b3d5cd2f67b53dbbfee9e360bd1072,4fade46f313d63aeb43d5f1987c85e88,02a4f5fcd156b27ee9ed61810e190770,Corona,CA,928,53.99,ea5a8b196a159ae4ae64310123de8806,33.995490,...,90230,Culver City,536.79,7.0,2010-11-30,2010,11,30,0,1
105686,2010-11-30 19:31:35.851,06d7a263a2beb48aa5ed86990e1ed5c9,26c957d736f664d24ba1cae688751752,c3e1e1be43ba89920b4a961c5e657b76,Anonymous,NaN,000,96.00,391321a707f153963c19795d2b7240b0,36.120844,...,74044,Mannford,272.34,2.0,2010-11-30,2010,11,30,0,1
110504,2010-11-30 15:20:06.802,07277d422efcbba14c56b17138a68628,ea92484c231d7a65aa61ddae506d9646,0370dd29a4bfbc55d73252ab71cbedfa,Brooklyn,NY,112,100.00,495c938059e812fd0923a9c47a16e6a7,40.685440,...,11238,New York City,360.76,10.0,2010-11-30,2010,11,30,0,1
117144,2010-11-30 22:44:30.059,0793d2c2c93c0bbab12f252bf9fbcc78,9a8bf0af96b4f6d96f0680d7d049fee9,77bcc5634c49076b2780f04509a89fa8,Sandy,UT,840,3.00,1666e5ed0ade2c2fe7891d69b30ef1df,39.667054,...,46259,Indianapolis,165.73,15.0,2010-11-30,2010,11,30,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843573,2010-11-30 17:03:48.01,f7be114ce9d2e240b249efc6bc8f1a1d,1f0c7031c5ede4cdd7d99e7c7a200a79,5abf0dd9f6cdbf191a2e86f655470c21,Fort Worth,TX,761,100.00,cb1db2e3c1b355efb4e6f7b484ebf20d,35.475528,...,28704,Arden,275.19,7.0,2010-11-30,2010,11,30,0,1
3850810,2010-11-30 03:38:12.796,f83507547e60210903edbb20622a80a6,1627df1bb3ef9d29ac63769fdf7cd514,261620537a6de189174eff1f1faffbae,Honolulu,HI,968,35.00,3ed1e6a1d1f945860ae22c0c305a9185,21.344914,...,96818,Honolulu,536.53,14.0,2010-11-30,2010,11,30,0,1
3852119,2010-11-30 10:21:37.494,f84b1cbb1f0dcae54af7cb3b22ad6f21,44abb37754da79030154d9d2f0c7adf9,8d1b3bf80f6b23d64caa7086e464de06,New York,NY,100,108.40,43e8c4e9bc627c4e3afbe9424a6f7e70,40.839928,...,10461,New York City,704.40,19.0,2010-11-30,2010,11,30,0,1
3856080,2010-11-30 19:53:07.002,f88c73a7b26f0fb3eb9e883e14f5dfad,b586242abfd3dfd8531e1c56222903bb,3a950162a753ddd50a8d9c0938d53a2a,Brighton,MA,021,7.09,a1eb9685d570a159ac7fe5da2b4375fa,33.488883,...,85392,Avondale,620.69,6.0,2010-11-30,2010,11,30,0,1
3859916,2010-11-30 13:18:58.542,f8cc60c16d88115d665b4fa908e97923,7dc129d9faadc0413d8c914da635547a,96d5e92d716fbedc2720373e86c462a5,Minneapolis,MN,554,100.00,dfc20b1161491f8bd842bce9921c35cd,44.957133,...,55404,Minneapolis,557.11,12.0,2010-11-30,2010,11,30,0,1
3861367,2010-11-30 17:08:40.141,f8e32650767924abd59c17ea766748c0,6ab68599674373446c577431ffd62d55,97894fb727ed569130beb8b8e69ed4fc,Dunwoody,GA,303,44.24,ddd672c5c65e77f8828a7d6588fb2541,33.902718,...,30340,Atlanta,199.24,1.0,2010-11-30,2010,11,30,0,1
3862509,2010-11-30 23:56:12.125,f8f636b08e9f6ff45ee8c62baa4b8ca9,9ed8683a0e5cd16e5c03c8eb3e34f6cd,50b7120ba6fa6ad58a8603c0914719bf,Chicago,IL,606,213.82,a163d5cad900b78851d5761e1b109b37,30.475119,...,70433,Covington,371.49,8.0,2010-11-30,2010,11,30,0,1
3866732,2010-11-30 09:28:25.154,f93b32f68b090606b41aad924f9a827e,d9cde3976da64f1e6a330c934d58c084,57dedfc29b1da80d20d5e6c6a751b811,Brooklyn,NY,112,50.00,f3987dde4e06bf3a98500d7eac7b8f46,33.698715,...,29577,Myrtle Beach,380.10,10.0,2010-11-30,2010,11,30,0,1
3867740,2010-11-30 15:14:44.153,f94baeb2951d9dc0ab69dcaa6c6e1b5c,7ca251320d71e1b819f55cf1fb7e7f5f,583a7d163ce4a535a8c5cac5c344444d,NaN,CA,921,25.00,0291f668561f3a0c489e40a251ed1d15,32.909061,...,92131,San Diego,70.00,2.0,2010-11-30,2010,11,30,0,1
3868273,2010-11-30 20:26:17.793,f954827e6fcc98d356c75c6e535d3962,4b6b6e927e322d9fd9d57a5041d99491,dec7c89118ce39199838ddd23d6b104a,Tornillo,TX,798,14.35,e3826e0eba63a1b65f8a42ae7f4f79c5,33.666426,...,85024,Phoenix,188.70,7.0,2010-11-30,2010,11,30,0,1
3878075,2010-11-30 00:17:23.372,f9f5e8b2757eef1814b9329deb3d37ce,e47421d062033a4d0a140c2200155cfa,e4aae2c6595029fb3f67a7d2f6a0798b,Mission Viejo,CA,926,6.59,e81092ecf950863346a46824c48fa45d,37.378197,...,67352,Longton,532.59,19.0,2010-11-30,2010,11,30,0,1
3878245,2010-11-30 16:27:10.936,f9f8cecd0226b684e09a6a72ff75b3bc,9156109135ae6f5dca415db6f1f72e63,6d9bc3ea6adc186d848a61b930db6276,Medford,MA,021,15.00,6c8838c00af6616c6daba2f1c7a3f780,40.791367,...,10029,New York City,425.15,13.0,2010-11-30,2010,11,30,0,1
3884233,2010-11-30 08:55:39.914,fa5c98fcf21c1cf154f4d47e47321d02,4c73a3ac192e8afdad9b2c4879c2e48d,08db5974125d8fa5556b1b1841130b3e,Oshkosh,WI,549,5.00,e76c84e7eda5c6476387ca452164c93c,43.974815,...,54923,Berlin,176.12,28.0,2010-11-30,2010,11,30,0,1
3894080,2010-11-30 12:34:17.815,fb00d2e09c6a550eb74b02d0f74772b0,c7f8eca630ebd2f3f450a6e4c218361d,688f11ff8bd5be5b01dd0e2dd70c6b91,Abingdon,MD,210,25.00,87dd4e8e1bb4b87c5bf3ce88294f8ca8,38.841772,...,20764,Shady Side,383.18,8.0,2010-11-30,2010,11,30,0,1
3901466,2010-11-30 17:09:01.616,fb7bcf1027931eb66c80ff0edd9e144e,32fe3077a7acebcb55f98993c8f94158,5d520efdecfe2ed53dccde747a1ac438,West Berlin,NJ,080,251.01,e04f6777568dffd76c742b3532682a63,37.792809,...,94619,Oakland,348.01,6.0,2010-11-30,2010,11,30,0,1
3907349,2010-11-30 15:32:02.597,fbdc5c813b92068f27dc983168ffc560,1618196b837f176836621063e248bd01,6bb58a02f9a35db8268e496b5f801901,Dousman,WI,531,10.00,18ced97966bb90e46fc9294a2c0bafa9,41.541096,...,44112,Cleveland,519.22,22.0,2010-11-30,2010,11,30,0,1
3909987,2010-11-30 01:32:40.603,fc07d3892f347ea8967809276473ddb6,6f377d33d27fcff8ee4891dd5f967bd5,9b7ac89e54babdb846e33e734465e83f,Camarillo,CA,930,173.35,6ea92d365fd64e3caa3bc314e67ed9d1,35.223159,...,93307,Bakersfield,952.69,8.0,2010-11-30,2010,11,30,0,1
3911545,2010-11-30 22:28:03.569,fc221a8e1bf838d4cea2c6d6d3cdc9a4,fafe917d6538d0bb54de7982b23f8039,4900d8f72addf4586d6ecd9007c72d49,West Hills,CA,913,76.00,61cea36da1e4569030678e5574ba6229,34.039135,...,90033,Los Angeles,397.69,5.0,2010-11-30,2010,11,30,0,1
3913326,2010-11-30 20:55:23.774,fc40112c964ca5a1cccc95a2e43d0bd1,75bbfcb48ae0f226583db669c772de62,6358fa215ba25d137ba6f8be90a3793e,Chicago,IL,607,50.00,60dd28e93c9cc057c8d790e826120b74,40.839466,...,10457,New York City,618.71,6.0,2010-11-30,2010,11,30,0,1
3913588,2010-11-30 22:27:55.26,fc4461f93855cafdb6effb3eb7d0da36,079825afc4c1dabedb754cdb581603a6,3c3d79962bae3d9f842812a4fd63ea17,Fresno,CA,937,5.00,8351da096ad1be6021e405b171efd1dd,33.952202,...,90301,Inglewood,515.71,5.0,2010-11-30,2010,11,30,0,1
3913866,2010-11-30 22:09:52.76,fc487edc5dc4dd5966984155256c303e,2a745d7ef1ab07e83a5cc86ddec198d8,853b20f956ba42bf700526e39f2c9da3,North Bay Village,FL,331,25.00,ea5862134385193847309b0d2fa1b154,32.608895,...,91911,Chula Vista,384.65,18.0,2010-11-30,2010,11,30,0,1
3918882,2010-11-30 20:15:40.722,fc9dc7dbbe865cd071dbd2e616542910,1f83eb358c248c93add79e8db06716a7,93e553eeea52bfc7326a053f184723ab,Chapel Hill,NC,275,10.00,f591bda0c2f7015c4a7cfc96a74cb214,34.860944,...,29607,Greenville,299.52,10.0,2010-11-30,2010,11,30,0,1
3932150,2010-11-30 23:52:19.371,fd795100591a201755fe29d412b7b3db,ff779ebe1c5cbaa42c6f7e95927635a9,9cfa1eca720dd21b80c4d8eadd2aa28c,Norwalk,CA,906,1.00,8c3ff944101fe7fc6e1352f67557bfe1,33.993326,...,90043,Los Angeles,259.41,6.0,2010-11-30,2010,11,30,0,1
3936178,2010-11-30 01:32:30.729,fdbaee433410ee6b8f298e24b5dfacc3,b2c469b93a26a16a1f0a7bab3ce46019,687826870e0bb9617ae6e68ed0615b0c,Indianapolis,IN,462,279.75,26be427061674753b82f9f7934a2f32d,47.573492,...,98116,Seattle,542.30,8.0,2010-11-30,2010,11,30,0,1
3949049,2010-11-30 19:01:07.302,fe8ec96137ad42e5a6bc3e2027b03475,18d51c3ed797dc2c30ac16278c43dcc8,2463f3aac7ec690fd37d29781dcb7485,Chambersburg,PA,172,100.00,88da39d829e008d539d307faded835f1,37.835663,...,22963,Palmyra,748.64,6.0,2010-11-30,2010,11,30,0,1
3953033,2010-11-30 14:04:46.056,fecd99b580b2dbff1857b20b5a162869,85ed28d35b9ca0da31cc061ca6b0705a,a94a6f794763f7f43372c9dc9a5e208b,Tecumseh,OK,748,10.00,b7a47b143f886255705bbba24dc33504,34.085091,...,90032,Los Angeles,636.14,34.0,2010-11-30,2010,11,30,0,1
3957575,2010-11-30 09:06:48.177,ff18d80665c03b04ff37d49c6c164c70,24d35bd4132a2ba5aa0c30a2da6f6c4d,5dcba5080c8e96a9a745b8007192acd1,Sonora,CA,953,3.00,912afd7ecd4cbc1b0ba0583729be0591,37.963152,...,95370,Sonora,460.91,4.0,2010-11-30,2010,11,30,0,1
3957798,2010-11-30 15:02:37.734,ff1cc323bc092cbec626a7edf5c75d5d,e23834abec080cc857309e80a305528e,c31d9ef498dc9825c5409cbdfc84a0d4,Jersey City,NJ,073,50.00,2be4469ffacc445bb26617dcb442602c,40.827391,...,10456,New York City,371.21,6.0,2010-11-30,2010,11,30,0,1
3958487,2010-11-30 07:45:29.376,ff27dffbd04acb2e91f931befc6a2499,f499a1f66417e78cf8ad8da8f20b5616,fd5b2f10f3734bd2be61b69f4a6e3909,Palm Harbor,FL,346,100.00,986765348d596aa2cdf3a6906ff1445e,28.016880,...,33761,Clearwater,524.56,24.0,2010-11-30,2010,11,30,0,1
3959081,2010-11-30 10:50:55.484,ff3134031341b86651a85d10e0d87641,724e53e33c5f303e54a2a25e4d2ea7a5,1d48feb45ac060805c190ff294cd15e7,Chicago,IL,606,83.00,f446e0c15c30d0b193f7eeb2364b4db1,41.959689,...,60613,Chicago,184.24,3.0,2010-11-30,2010,11,30,0,1

### Write to file

In [189]:
donor_charity_combined.to_csv("donations_projects_merged_with_location_amount_updated_Open.csv")

## Calculate Daily Contribution sum and count

In [261]:
#groupby date
small_data=donor_charity_combined.groupby('date_stamp')

In [262]:
#get only the date and donation amount
df_small=donor_charity_combined[['date_stamp', 'donation_total', 'year', 'month', 'day']]

In [263]:
df_small['donation_total']=df_small.donation_total.astype('float')

/Users/R/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Get the donation sum and the count per date dataframes and merge them

In [264]:
daily_donation=df_small.groupby(["date_stamp"]).sum().reset_index()

In [265]:
daily_donation_count=df_small.groupby(["date_stamp"]).count().reset_index()
daily_donation_count['donation_count']=daily_donation_count['donation_total']
daily_donation_count=daily_donation_count[['date_stamp', 'donation_count']]
daily_donation_count.head()

   date_stamp  donation_count
0  2007-01-01              40
1  2007-01-02             159
2  2007-01-03             179
3  2007-01-04             158
4  2007-01-05              69

In [266]:
daily_donation=daily_donation[['date_stamp', 'donation_total']].merge(daily_donation_count, left_on="date_stamp", right_on="date_stamp", how="left")

#### Create the GivingTuesday and LastDay Columns to the new dataframe and verify

In [267]:
daily_donation['GivingTuesday']=daily_donation.date_stamp.apply(f)
daily_donation[daily_donation.date_stamp=='2012-11-27']

      date_stamp  donation_total  donation_count  GivingTuesday
2156  2012-11-27        82092.77             934              1

In [271]:
daily_donation['LastDay']=daily_donation.date_stamp.apply(lastday)
daily_donation.head()

   date_stamp  donation_total  donation_count  GivingTuesday  LastDay
0  2007-01-01         5477.34              40              0        0
1  2007-01-02        24467.06             159              0        0
2  2007-01-03        54302.34             179              0        0
3  2007-01-04        30829.14             158              0        0
4  2007-01-05        17703.62              69              0        0

In [276]:
daily_donation[daily_donation.GivingTuesday==1]

      date_stamp  donation_total  donation_count  GivingTuesday  LastDay
330   2007-11-27        51710.26             352              1        0
700   2008-12-02        57415.57             518              1        0
1074  2009-12-11        50016.28             500              1        0
1428  2010-11-30        78952.86             973              1        0
1792  2011-11-29       150508.19            1949              1        0
2156  2012-11-27        82092.77             934              1        0
2527  2013-12-03       276198.37            3829              1        0
2891  2014-12-02       500050.74            6640              1        0
3255  2015-12-01       879732.33            9726              1        0

### Write to file

In [278]:
daily_donation.to_csv('daily_donation_Open.csv')

### Clean data for SQL use

In [2]:
donor_charity_combined=pd.read_csv("donations_projects_merged_with_location_amount_updated_Open.csv")

In [3]:
donor_charity_combined.head()

,Unnamed: 0,donation_timestamp,_donationid,_projectid,_donor_acctid,donor_city,donor_state,donor_zip,donation_total,_schoolid,...,school_zip,school_city,total_donations,num_donors,date_stamp,year,month,day,LastDay,GivingTuesday
0,0,2013-05-26 11:28:31.30,000009891526c0ade7180f8423792063,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,70,75.00,d2e10f0ddc44351eadee9f9e5f27a15b,...,7043.0,Montclair,335.96,4.0,2013-05-26,2013,5,26,0,0
1,1,2009-10-23 10:57:21.405,00000f7264c27ba6fea0c837ed6aa0aa,d02682271afef978f1dd161513672759,d74f5b847da546427a7de5bc96ab36a6,NaN,NaN,69,25.00,51e376d75b72e51e4d82dddc0b9bd85f,...,10459.0,New York City,4301.16,90.0,2009-10-23,2009,10,23,0,0
2,2,2011-12-15 01:07:26.085,0000174d1d38072889d47e51b587a10c,fbef21e4fdf303eebe6c48b99ef9de8f,f495e99822acc50e934a57943400bcfe,San Francisco,CA,941,2138.07,b8412c957686a8d1c5ad097740e1983f,...,94542.0,Hayward,2138.07,1.0,2011-12-15,2011,12,15,0,0
3,3,2016-04-28 19:34:11.381,00001816d766bb450f138ce3721f8f78,1f8c20720d923b3752b724faa9246d26,04d76f93ec0e3733c442a754aef50ddf,NaN,AZ,857,20.00,83fdda91e8ebf1296715585d2a6e6468,...,85743.0,Tucson,171.00,5.0,2016-04-28,2016,4,28,0,0
4,4,2016-05-28 18:17:11.669,00001c011090f64fd5c8119eb07060a0,a603a9227c086925d992197948bc3061,3da2caaabc638f2b75b70044fd503474,Hamburg,AR,716,50.00,08862760a652987bcbee7e5e00676193,...,71646.0,Hamburg,349.66,4.0,2016-05-28,2016,5,28,0,0

Remove any unnecessary columns and rename column name so that it is doesn't have the character "_"

In [4]:
del donor_charity_combined['Unnamed: 0']

In [6]:
donor_charity_combined.columns.values

array(['donation_timestamp', '_donationid', '_projectid', '_donor_acctid',
       'donor_city', 'donor_state', 'donor_zip', 'donation_total',
       '_schoolid', 'school_latitude', 'school_longitude', 'school_zip',
       'school_city', 'total_donations', 'num_donors', 'date_stamp',
       'year', 'month', 'day', 'LastDay', 'GivingTuesday'], dtype=object)

In [7]:
donor_charity_combined.columns = ['donationtimestamp', 'donationid', 'projectid', 'donoracctid',
       'donorcity', 'donorstate', 'donorzip', 'donationtotal',
       'schoolid', 'schoollatitude', 'schoollongitude', 'schoolzip',
       'schoolcity', 'totaldonations', 'numdonors', 'datestamp',
       'year', 'month', 'day', 'LastDay', 'GivingTuesday']

In [8]:
donor_charity_combined.head()

,donationtimestamp,donationid,projectid,donoracctid,donorcity,donorstate,donorzip,donationtotal,schoolid,schoollatitude,...,schoolzip,schoolcity,totaldonations,numdonors,datestamp,year,month,day,LastDay,GivingTuesday
0,2013-05-26 11:28:31.30,000009891526c0ade7180f8423792063,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,70,75.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,...,7043.0,Montclair,335.96,4.0,2013-05-26,2013,5,26,0,0
1,2009-10-23 10:57:21.405,00000f7264c27ba6fea0c837ed6aa0aa,d02682271afef978f1dd161513672759,d74f5b847da546427a7de5bc96ab36a6,NaN,NaN,69,25.00,51e376d75b72e51e4d82dddc0b9bd85f,40.831650,...,10459.0,New York City,4301.16,90.0,2009-10-23,2009,10,23,0,0
2,2011-12-15 01:07:26.085,0000174d1d38072889d47e51b587a10c,fbef21e4fdf303eebe6c48b99ef9de8f,f495e99822acc50e934a57943400bcfe,San Francisco,CA,941,2138.07,b8412c957686a8d1c5ad097740e1983f,37.653902,...,94542.0,Hayward,2138.07,1.0,2011-12-15,2011,12,15,0,0
3,2016-04-28 19:34:11.381,00001816d766bb450f138ce3721f8f78,1f8c20720d923b3752b724faa9246d26,04d76f93ec0e3733c442a754aef50ddf,NaN,AZ,857,20.00,83fdda91e8ebf1296715585d2a6e6468,32.366312,...,85743.0,Tucson,171.00,5.0,2016-04-28,2016,4,28,0,0
4,2016-05-28 18:17:11.669,00001c011090f64fd5c8119eb07060a0,a603a9227c086925d992197948bc3061,3da2caaabc638f2b75b70044fd503474,Hamburg,AR,716,50.00,08862760a652987bcbee7e5e00676193,33.224069,...,71646.0,Hamburg,349.66,4.0,2016-05-28,2016,5,28,0,0

### Write to file and verify

In [9]:
donor_charity_combined.to_csv("donations_projects_merged_with_location_amount_updated_Open_for_sql.csv", index=False)

In [10]:
data=pd.read_csv("donations_projects_merged_with_location_amount_updated_Open_for_sql.csv", nrows=10)

In [11]:
data.head()

,donationtimestamp,donationid,projectid,donoracctid,donorcity,donorstate,donorzip,donationtotal,schoolid,schoollatitude,...,schoolzip,schoolcity,totaldonations,numdonors,datestamp,year,month,day,LastDay,GivingTuesday
0,2013-05-26 11:28:31.30,000009891526c0ade7180f8423792063,26f02742185eb1f73f3bc5be4655fae2,c91489d7b6b89943a28555e6add72509,NaN,NJ,70,75.00,d2e10f0ddc44351eadee9f9e5f27a15b,40.853885,...,7043.0,Montclair,335.96,4.0,2013-05-26,2013,5,26,0,0
1,2009-10-23 10:57:21.405,00000f7264c27ba6fea0c837ed6aa0aa,d02682271afef978f1dd161513672759,d74f5b847da546427a7de5bc96ab36a6,NaN,NaN,69,25.00,51e376d75b72e51e4d82dddc0b9bd85f,40.831650,...,10459.0,New York City,4301.16,90.0,2009-10-23,2009,10,23,0,0
2,2011-12-15 01:07:26.085,0000174d1d38072889d47e51b587a10c,fbef21e4fdf303eebe6c48b99ef9de8f,f495e99822acc50e934a57943400bcfe,San Francisco,CA,941,2138.07,b8412c957686a8d1c5ad097740e1983f,37.653902,...,94542.0,Hayward,2138.07,1.0,2011-12-15,2011,12,15,0,0
3,2016-04-28 19:34:11.381,00001816d766bb450f138ce3721f8f78,1f8c20720d923b3752b724faa9246d26,04d76f93ec0e3733c442a754aef50ddf,NaN,AZ,857,20.00,83fdda91e8ebf1296715585d2a6e6468,32.366312,...,85743.0,Tucson,171.00,5.0,2016-04-28,2016,4,28,0,0
4,2016-05-28 18:17:11.669,00001c011090f64fd5c8119eb07060a0,a603a9227c086925d992197948bc3061,3da2caaabc638f2b75b70044fd503474,Hamburg,AR,716,50.00,08862760a652987bcbee7e5e00676193,33.224069,...,71646.0,Hamburg,349.66,4.0,2016-05-28,2016,5,28,0,0